.root {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
}

.status {
    font-size: 50px;
}

.score {
    font-size: 30px;
    padding: 10px;
}

.count {
    font-size: 18px;
    padding: 10px;
}

#board {
    margin: 20px;
}

.row {
    display: flex;
    height: 150px;
    width: 450px;
    border: 1px solid black;
    border-top: none;
}

.row:first-child {
    border-top: 1px solid black;
}

.cell {
    font-size: 150px;
    cursor: pointer;
    width: 150px;
    border-right: 1px solid black;
    background-color: white;
    text-align: center;
}

.cell:last-child {
    border-right: none;
}

.play-again-container {
    padding: 20;
}

.play-again {
    font-size: 20px;
    width: 120px;
    height: 60px;
    visibility: hidden;
}